@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
/* font-family: "Calistoga", serif; */
@import url('https://fonts.cdnfonts.com/css/porter-sans-block');
/* font-family: 'Porter Sans Block', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: "Courier Prime", monospace; */

* {
    margin: 0;
    padding: 0;
    font-family: "Calistoga", serif;
}

body {
    background-color: #E8F4E7;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.navbar {
    width: 93.333%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    background-color: #E8F4E7;
    border-bottom: 1px;
}

.navbar h1 {
    width: 435px;
    height: 29px;
    font-weight: 400;
    font-size: 42px;
    color: #1C221B;
    font-family: 'Porter Sans Block', sans-serif;
    line-height: 42px;
    letter-spacing: -4px;
}

.navbar ul {
    width: 444px;
    height: 32px;
    gap: 32px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li {
    height: 32px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
}

.divmain {
    width: 1344px;
    height: 3613px;
    padding: 48px 0;
}

.middlediv {
    width: 1344px;
    height: 3517px;
}

.innerdiv{
    width: 1344px;
    height: 1032px;
    border: 1px;
    padding: 96px 0;
    gap: 48px;
    background-color: #E8F4E7; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#discover {
    width: 1344px;
    height: 120px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2px;
    text-align: center;
    color: #1C221B; 
}

#InnerDivImg {
    width: 1344px;
    height: 672px;
    border: 1px solid #00000000;
}

/*Img section*/
/* img1 is for CSS of the perticular block */
/* img1bg is for uploading the img through CSS */

.img-section {
    width: 1344px;
    height: 1333px;
    border: 1px;
    padding: 48px 0;
    gap: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #E8F4E7;
}

.coloum1,.coloum2,.coloum3 {
    width: 416px;
    height: 1237px;
    gap: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #E8F4E7;
}

.img1 {
    width: 416px;
    height: 379px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img1bg {
    width: 416px;
    height: 323px;
    border: 1px solid #00000000;
    background: url("Assets/img1bg.png");
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 416px;
    height: 290px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img2bg {
    width: 416px;
    height: 234px;
    border: 1px solid #00000000;
    background: url("Assets/img2bg.png");
    background-size: cover;
    background-position: center;
}

.img3 {
    width: 416px;
    height: 472px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img3bg {
    width: 416px;
    height: 416px;
    border: 1px solid #00000000;
    background: url("Assets/img3bg.png");
    background-size: cover;
    background-position: center;
}

.img4 {
    width: 416px;
    height: 472px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img4bg {
    width: 416px;
    height: 416px;
    border: 1px solid #00000000;
    background: url("Assets/img4bg.png");
    background-size: cover;
    background-position: center;
}

.img5 {
    width: 416px;
    height: 379px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img5bg {
    width: 416px;
    height: 323px;
    border: 1px solid #00000000;
    background: url("Assets/img5bg.png");
    background-size: cover;
    background-position: center;
}

.img6 {
    width: 416px;
    height: 290px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img6bg {
    width: 416px;
    height: 234px;
    border: 1px solid #00000000;
    background: url("Assets/img6bg.png");
    background-size: cover;
    background-position: center;
}

.img7 {
    width: 416px;
    height: 290px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img7bg {
    width: 416px;
    height: 234px;
    border: 1px solid #00000000;
    background: url("Assets/img7bg.png");
    background-size: cover;
    background-position: center;
}

.img8 {
    width: 416px;
    height: 472px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img8bg {
    width: 416px;
    height: 416px;
    border: 1px solid #00000000;
    background: url("Assets/img8bg.png");
    background-size: cover;
    background-position: center;
}

.img9 {
    width: 416px;
    height: 379px;
    gap: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.img9bg {
    width: 416px;
    height: 323px;
    border: 1px solid #00000000;
    background: url("Assets/img9bg.png");
    background-size: cover;
    background-position: center;
}

.text {
    width: 416px;
    height: 48px;
    align-items: flex-start;
}

#Img-h2 {
    width: 416px;
    height: 24px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1C221B;
}

#Img-Para {
    width: 416px;
    height: 24px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #1C221B;
}

.para {
    width: 1344px;
    height: 452px;
    background-color: #E8F4E7;
    border-bottom: 1px;
    padding: 96px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 {
    width: 900px;
    height: 260px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1C221B;
}

.outer-contact{
    width: 1344px;
    height: 700px;
    padding-top: 200px;
    gap: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F4E7;
}

.inner-contact {
    width: 400px;
    height: 248px;
    gap: 32px;
    display: inline;
    align-items: center;
    justify-content: center;
}

.contact-div {
    width: 400px;
    height: 32px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-me {
    width: 400px;
    height: 32px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
}

.number {
    width: 600px;
    height: 64px;
    gap: 12px;
    display: flex;
    flex-wrap: nowrap;
}

.rect {
    width: 56px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #1C221B;
    padding: 8px 16px 8px 16px;
    background-color: #E8F4E7;
}

.rect-text{
    width: 12px;
    height: 24px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1C221B;
    justify-content: center;
}

.submit-box{
    width: 400px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #F13914;
    justify-items: center
}

.submit {
    width: 54px;
    height: 20px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FBFFFA;
}

.skip {
    width: 36px;
    height: 20px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}